@import 'variables';
@import 'mixins';
@import 'base';



// ----------------------------------------------------------------------修改区域
/* 主题颜色变量 */ 
$them-color-primary: #09c4fc;    // 主题
$them-color-bg:#c6fdf9;          // 背景

$them-color-shadow:  #5ae7e4;     // 阴影
$them-color-gradualthem: linear-gradient(45deg, #299fe8,#65FDF0); // 渐变


//----------------------------------------------------------------------
// 背景渐变主题
.bg-gradual-them {
	background-image: $them-color-gradualthem;
	color: #ffffff;
}

// 背景主题
.bg-them {
	background-color: $them-color-primary;
	color: #ffffff;
}

// 文字主题
.text-them {
	color: $them-color-primary;
}


// 文字渐变主题
.title-text {
	background-image: $them-color-gradualthem;
	-webkit-text-fill-color: transparent;
}